{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>about us</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
    body{
      background-image: url("{% static 'media/about1.jpg' %}");
      background-size: cover;
    }
    h2{
      font-size:50px;
      font-style: bolder;
      text-align: center;
    }
    p{
      font-size:20px;
      font-weight: bold;
      
    }
     
    </style>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        
        
         
        <div class="col-xs-6">
            <h2>About Us</h2>
            <p>Castlo Lubricants was formed in 2010 to formulate, blend and market a range of automotive, commercial, industrial and agricultural
                lubricants and greases specifically to perform and protect under the arduous GCC climatic and operational conditions meeting the
                most stringent of U.A.E and international standards. Castlo Lubricants remains wholly U.A.E owned and operates out of a newly
                constructed state-of-the-art blending facility in Ajman, U.A.E.
                Castlo Lubricants supports a growing network of distributors throughout U.AE. With the experienced team we have, Castlo will continue to explore and service new opportunities with great Success.
                The Castlo Lubricants Personnel aim to build long-term, mutually-beneficial relationships with all of our customers. Castlo prides
                itsef on its enviable reputation for its consistent quality of product and servico to its customers while still being competitive in the
                market place.</p>
        </div>
        <div class="col-xs-6"></div>

      
    </div>

    
  </body>
</html>
