<!DOCTYPE html>
<html>
  <head>
    <title>Compressor Oil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">Heavy Duty Diesel Engine Oil</h2>
       
        
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col" class="text-center">Product Name</th>
                  <th scope="col" class="text-center">About</th>
                  <th scope="col" class="text-center">Main Benefits</th>
                  
                </tr>
            
            <tbody>
              <tr>
                <td style="font-weight: bolder;">SAE 10W/40</td>
                <td>Heavy Duty Diesel Engine Oil has been formulated with highly refined base oil and advanced additive technology to achieve latest low emission and high-performance requirements of US, European and Japanese engine makers. It provides protection against oil thickening, high temperature, sludge build up, oil degradation and corrosion. It provides good shear stability.
                </td>
                <td>Advance additive technology provides wear protection and longer oil life.Improved engine cleanliness and protection against piston deposits.Excellent performance in heavy duty operation.Superior oxidation resistance, soot control and thermal stability.Easy cold starting and longer drain interval.</td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">20W/50</td>
                <td>Heavy Duty Diesel Engine Oil has been formulated with highly refined base oil and advanced additive technology to achieve latest low emission and high-performance requirements of US, European and Japanese engine makers. It provides protection against oil thickening, high temperature, sludge build up, oil degradation and corrosion. It provides good shear stability.
                </td>
                <td>Advance additive technology provides wear protection and longer oil life.Improved engine cleanliness and protection against piston deposits.Excellent performance in heavy duty operation.Superior oxidation resistance, soot control and thermal stability.Easy cold starting and longer drain interval.</td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">15W/40</td>
                <td>Heavy Duty Diesel Engine Oil has been formulated with highly refined base oil and advanced additive technology to achieve latest low emission and high-performance requirements of US, European and Japanese engine makers. It provides protection against oil thickening, high temperature, sludge build up, oil degradation and corrosion. It provides good shear stability.
                </td>
                <td>Advance additive technology provides wear protection and longer oil life.Improved engine cleanliness and protection against piston deposits.Excellent performance in heavy duty operation.Superior oxidation resistance, soot control and thermal stability.Easy cold starting and longer drain interval.</td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">API CI4</td>
                <td>Heavy Duty Diesel Engine Oil has been formulated with highly refined base oil and advanced additive technology to achieve latest low emission and high-performance requirements of US, European and Japanese engine makers. It provides protection against oil thickening, high temperature, sludge build up, oil degradation and corrosion. It provides good shear stability.
                </td>
                <td>Advance additive technology provides wear protection and longer oil life.Improved engine cleanliness and protection against piston deposits.Excellent performance in heavy duty operation.Superior oxidation resistance, soot control and thermal stability.Easy cold starting and longer drain interval.</td>
              </tr>

              
            </tbody>
          </table> 

          <h2 class="text-center">Fully Synthetic Gasoline Engine Oil</h2>
          <table class="table table-bordered">
              <thead>
                  <tr>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">About</th>
                    <th scope="col" class="text-center">Main Benefits</th>    
                  </tr>
              <tbody>
                <tr>
                  <td style="font-weight: bolder;">SAE 0W/20   </td>
                  <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                  <td>Excellent oxidation resistance.
                    Excellent low temperature flow characteristics.
                    Excellent detergency and high dispersancy keeps engine clean under all conditions.
                    Exceptional thermal stability.
                    Low oil consumption.
                    Protects against rust and corrosion.
                    </td>
                </tr>
                <tr>
                  <td style="font-weight: bolder;">10W60</td>
                  <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                  <td>Excellent oxidation resistance.
                    Excellent low temperature flow characteristics.
                    Excellent detergency and high dispersancy keeps engine clean under all conditions.
                    Exceptional thermal stability.
                    Low oil consumption.
                    Protects against rust and corrosion.
                    </td>
                </tr>
                <tr>
                  <td style="font-weight: bolder;">10W/40</td>
                  <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                  <td>Excellent oxidation resistance.
                    Excellent low temperature flow characteristics.
                    Excellent detergency and high dispersancy keeps engine clean under all conditions.
                    Exceptional thermal stability.
                    Low oil consumption.
                    Protects against rust and corrosion.
                    </td>  
                </tr>
                <tr>
                  <td style="font-weight: bolder;">5W/40</td>
                  <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                  <td>Excellent oxidation resistance.
                    Excellent low temperature flow characteristics.
                    Excellent detergency and high dispersancy keeps engine clean under all conditions.
                    Exceptional thermal stability.
                    Low oil consumption.
                    Protects against rust and corrosion.
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bolder;">0W40</td>
                    <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                    <td>Excellent oxidation resistance.
                        Excellent low temperature flow characteristics.
                        Excellent detergency and high dispersancy keeps engine clean under all conditions.
                        Exceptional thermal stability.
                        Low oil consumption.
                        Protects against rust and corrosion.
                        </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bolder;">5W/30</td>
                    <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                    <td>Excellent oxidation resistance.
                        Excellent low temperature flow characteristics.
                        Excellent detergency and high dispersancy keeps engine clean under all conditions.
                        Exceptional thermal stability.
                        Low oil consumption.
                        Protects against rust and corrosion.
                        </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bolder;">API SN</td>
                    <td>Fully Synthetic Gasoline Engine Oil has been formulated for latest on-road, high-performance and turbo-charged, intercooled direct injection high performance gasoline and diesel engines with normal SAPS passenger car portfolio. It provides outstanding protection against engine wear under high-temperature and high engine speed conditions. It is blended from synthetic base components, highly shear stable viscosity modifiers and premium tier additive packages. Suitable for ACEA 2012 normal SAPS requirements formulations.</td>
                    <td>Excellent oxidation resistance.
                        Excellent low temperature flow characteristics.
                        Excellent detergency and high dispersancy keeps engine clean under all conditions.
                        Exceptional thermal stability.
                        Low oil consumption.
                        Protects against rust and corrosion.
                        </td> 
                  </tr>  
              </tbody>
            </table>  

            <h2 class="text-center">Premium Grade Gasoline Engine Oil</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col" class="text-center">Product Name</th>
                      <th scope="col" class="text-center">About</th>
                      <th scope="col" class="text-center">Main Benefits</th>    
                    </tr>
                <tbody>
                  <tr>
                    <td style="font-weight: bolder;">SAE 20W/40</td>
                    <td>Premium Grade Gasoline Engine Oil are designed to prepare for all gasoline and diesel-powered passenger cars, light trucks and van including those fitted with turbo chargers. Originated with highly refined base stock and efficient additive technology to maintain engine oil cleanliness, wear and very good low temperature fluidity ensure easy starting in cold weather and low volatility contributes to low oil consumption.
                    </td>
                    <td>Fuel economy and better cold starting.
                        Excellent engine protection in severe weather conditions.
                        Thermal stable, Anti-wear, Anti-oxidant and long drain interval.
                        Low oil consumption and turbo proven stability.
                        Longer drain interval.
                        Low oil consumption.
                        </td>
                    
                  </tr>
                  <tr>
                    <td style="font-weight: bolder;">20W/50</td>
                    <td>Premium Grade Gasoline Engine Oil are designed to prepare for all gasoline and diesel-powered passenger cars, light trucks and van including those fitted with turbo chargers. Originated with highly refined base stock and efficient additive technology to maintain engine oil cleanliness, wear and very good low temperature fluidity ensure easy starting in cold weather and low volatility contributes to low oil consumption.
                    </td>
                    <td>Fuel economy and better cold starting.
                        Excellent engine protection in severe weather conditions.
                        Thermal stable, Anti-wear, Anti-oxidant and long drain interval.
                        Low oil consumption and turbo proven stability.
                        Longer drain interval.
                        Low oil consumption.
                        </td>
                    
                  </tr>
                  <tr>
                    <td style="font-weight: bolder;">API SL/CF</td>
                    <td>Premium Grade Gasoline Engine Oil are designed to prepare for all gasoline and diesel-powered passenger cars, light trucks and van including those fitted with turbo chargers. Originated with highly refined base stock and efficient additive technology to maintain engine oil cleanliness, wear and very good low temperature fluidity ensure easy starting in cold weather and low volatility contributes to low oil consumption.
                    </td>
                    <td>Fuel economy and better cold starting.
                        Excellent engine protection in severe weather conditions.
                        Thermal stable, Anti-wear, Anti-oxidant and long drain interval.
                        Low oil consumption and turbo proven stability.
                        Longer drain interval.
                        Low oil consumption.
                        </td>
                   
                  </tr>
                
                </tbody>
              </table>  



    </div>

    
  </body>
</html>
