<!DOCTYPE html>
<html>
  <head>
    <title>AW Hydraulic Oil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">AW Hydraulic Oil</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">About</th>
                    <th scope="col" class="text-center">Main Benefits</th>    
                  </tr>
            </thead>
           
            <tbody>
              <tr>
                <td style="font-weight: bolder;">ISO VG 32</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">ISO VG 46</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">ISO VG 68</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">ISO VG 100</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">ISO VG 150</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              <tr>
                <td style="font-weight: bolder;">ISO VG 220</td>
                <td>AW Hydraulic oils are premium quality antioxidant, anti-wear, anti-rust hydraulic oils for industrial hydraulic applications blended with selected high-quality base stocks and special additives to give excellent dimulsibility, superior oxidation and thermal stability and excellent load carrying capacity.
                </td>
                <td>Excellent oxidation & thermal stability.
                    Excellent load carrying capacity.
                    Outstanding anti-wear performance.
                    Superior filterability and good water separation.
                    Low friction and hydraulic stability.
                    Excellent air release and antifoam properties
                    
                    </td>
              </tr>
              
            </tbody>
          </table>  
    </div>

    
  </body>
</html>
