<!DOCTYPE html>
<html>
  <head>
    <title>Compressor Oil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">Compressor Oil</h2>
        <table class="table table-bordered">
          <thead>
            <tr  class="text-center">
              <td style="font-weight:bolder">Product Name</td>
              <td style="font-weight:bolder">About</td>
              <td style="font-weight:bolder">Main Benefits</td>
            </tr>
          </thead>
           
            <tbody>
              <tr>
                <td style="font-weight: bolder;">3GS,4GS</td>
                <td>RPM Compressor Oils are premium quality Air Compressor lubricants blended with high quality paraffinic base oils and selected anti-oxidant and rust inhibitors to give low carbon forming tendencies in Air Compressor applications. They are designed for use in rotary and reciprocating compressors both for stationery and mobile applications. These oils can also be used in vacuum pumps because of their low volatility.</td>
                <td>Very good oxidation resistance.
                  Very good Air release and anti-foam properties.
                  Very good rusting and wear protection properties.
                  Maintains internal surface cleanliness.
                  Longer oil drains interval.
                  </td>
                
              </tr>
              
            </tbody>
          </table>  
    </div>

    
  </body>
</html>
