<!DOCTYPE html>
<html>
  <head>
    <title>Coolant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">Coolant</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">About</th>
                    <th scope="col" class="text-center">Main Benefits</th>    
                  </tr>
            </thead>
           
            <tbody>
              <tr>
                <td style="font-weight: bolder;">Anti-Freeze Concentrate</td>
                <td>Anti-Freeze Concentrate is a mono-ethylene Glycol based fluid with anti-rust inhibitor. The concentrate is suitable for all passenger cars, light and heavy vehicles. It provides higher boiling point and lower freezing point than water which makes it anti-boil and antifreeze coolant.</td>
                <td>Protect against rust and corrosion.
                    Provide excellent heat transfer characteristics.
                    Compatible with all rubber hoses used in cooling systems.
                    Good solubility and stability in both soft and hard water.
                    Outstanding anti-freeze property
                    </td>
              </tr>
              
            </tbody>
          </table>  
    </div>

    
  </body>
</html>
