<!DOCTYPE html>
<html>
  <head>
    <title>HEAVY DUTY BRAKE FLUID DOT 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">HEAVY DUTY BRAKE FLUID DOT 3</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Product Name</th>
                    <th scope="col" class="text-center">About</th>
                    <th scope="col" class="text-center">Main Benefits</th>    
                  </tr>
            </thead>
           
            <tbody>
              <tr>
                <td style="font-weight: bolder;">HEAVY DUTY BRAKE FLUID DOT 3</td>
                <td>Heavy Duty Brake & Clutch Fluid DOT-3,DOT-4 is a premium glycol quality automotive Brake Fluid meeting the specifications of DOT-3, SAE J1703 and FMVSS No. 116.</td>
                <td>Long volatility and low pour point ensure performance in normal temperature range.
                    Provides protection against rust and corrosion.
                    Compatible with rubber seals.
                    Miscible with another approved glycol ether.
                    Good braking response.
                    Reduces chances of vapor lock.
                    
                    </td>
              </tr>
              
            </tbody>
          </table>  
    </div>

    
  </body>
</html>
