<!DOCTYPE html>
<html>
  <head>
    <title>MARINE SYSTEM OIL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
 
    </style>
    
  </head>
  <body>
    <div class="container">
        <h2 class="text-center">MARINE SYSTEM OIL</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col" class="text-center">Product Name</th>
                <th scope="col" class="text-center">About</th>
                <th scope="col" class="text-center">Main Benefits</th>
                   
              </tr>
        </thead>
           
            <tbody>
              <tr>
                <td style="font-weight: bolder;">6 TBN</td>
                <td>Marine System oil is premium quality lubricant for cross head diesel engine crank case system. It is especially effective in highly rated cross head engines with oil cooled pistons, power take- off (PTO) gear applications.</td> 
                <td>Good Alkinity.
                    Excellent resistance to corrosion.
                    Excellent detergency keeps crankcase and under piston spaces clean.
                    Good oxidation stability.
                    </td>  
              </tr>
              <tr>
                <td style="font-weight: bolder;">9 TBN</td>
                <td>Marine System oil is premium quality lubricant for cross head diesel engine crank case system. It is especially effective in highly rated cross head engines with oil cooled pistons, power take- off (PTO) gear applications.</td> 
                <td>Good Alkinity.
                    Excellent resistance to corrosion.
                    Excellent detergency keeps crankcase and under piston spaces clean.
                    Good oxidation stability.
                    </td>   
              </tr>
            </tbody>
          </table>  
    </div>

    
  </body>
</html>
