{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Our Mission</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
    body{
      background-image: url("{% static 'media/promo-1.jpg' %}");
      background-size: cover;
    }
    h2{
      font-size:50px;
      font-style: bolder;
    }
    p{
      font-size:20px;
    }
     
    </style>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <h2>Our Mission</h2>
          <p>Castlo’s mission is to be the unparalleled lubricants supplier In U.A.E. Our success is based on our ability to consistently provide
            product as well as better and more effective solutions for our customer's ever changing needs. We commit to being innovative and
            responsive whilst maintaining products and services to our customers at compeutive prices. Our goal is to ensure we meet our
            customer's, staff's, suppliers and management’s expectations in the deilvery of our products and services to the marketplace.</p>
        </div>
        <div class="col-xs-6"></div>

      </div>
    </div>

    
  </body>
</html>
