{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sales</title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    
    <style type="text/css">
    body{
      background-image: url("{% static 'media/sale.jpeg' %}");
      background-size: cover;
    }
    h2{
      font-size:50px;
      font-style: bolder;
    }
    p{
      font-size:20px;
      
    }
     
    </style>
    
  </head>
  <body>
    <div class="container">
      <div class="row">
        
        <div class="col-xs-4"></div>
         
        <div class="col-xs-6">
            <h2>The Castlo People</h2>
            <p>Castlo team has a wealth of knowledge gained from years of service in the industry and are only too wiling to pass on their advice
                for smarter, more efficient lubricant and equipment solutions. At Castlo, we recognise that our people are our most valuable
                resource. Regular training of our staff is essential in developing professional people to look after our customers.</p>
        </div>
        <div class="col-xs-2"></div>

      
    </div>

    
  </body>
</html>
